
.goods_items {
    flex: 1 1 0;
    padding: 20px 0 30px;
}

.goods_items-wrapper {
    width:90%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 0 20px 60px;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.goods_item {
    padding: 20px;

    background-color: white;
    border-radius: 5px;
    border: 2px solid #ededed;
    min-height: 250px;
    position:relative;
}

.goods_item:hover {
    border-color: #d0eaff;
}

.goods_item-wrapper {
    flex-basis:33%;
    padding-right: 20px;
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.goods_item-title {
    text-align: center;
    margin-bottom: 10px;
}

.goods_item_content {
    text-align: center;
}
.goods_item_content-price {
    margin-bottom: 4px;
}

.goods_item_content-quantity {
    margin-bottom: 4px;
    min-width: 160px;
    max-width: 160px;
}

.goods_item-func-wrapper {
    margin-top: 30px;
    width:80%;
    position: absolute;
    bottom: 0;
}

.goods_item-func-wrapper-item {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.goods_item-func {
    max-width:50%;
    text-align: center;
    margin-bottom: 10px;

    background-color: #ededed;
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid #ededed;
}

.goods_item-func-2 {
    max-width:50%;
    text-align: center;
    margin-bottom: 20px;

    background-color: #d0eaff;
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid #d0eaff;
}

.goods_item-func-2:hover, .goods_item-func:hover {
    background-color: rgba(237, 237, 237, 0);
}

.goods_title-wrapper {
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
    margin:20px 0;
}

.goods_title {
    /*text-align: center;*/
    /*margin: 20px auto;*/
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
}

.goods_add_item {
    background-color: #d0eaff;
    padding: 7px 20px;
    border-radius: 3px;
    border: 2px solid #d0eaff;
}

.goods_add_item:hover {
    background-color: rgba(208, 234, 255, 0);
}

.goods_items-search {
    display:flex;
    position: absolute;
    bottom:0;
    margin-bottom: 20px;
    align-items: center;

}

#goods_search-title {
    margin: 0 20px;
}

input[type="text"] {
    margin-left:5px;
    border-radius: 3px;
    border: 1px solid #d0eaff;
    padding: 5px;
}

input[type="number"] {
    margin-left:5px;
    border-radius: 3px;
    border: 1px solid #d0eaff;
    padding: 5px;
}

button {
    background-color: #d0eaff;
    padding: 5px 30px;
    border-radius: 3px;
    border: 2px solid #d0eaff;
}

button:hover {
    background-color: rgba(208, 234, 255, 0);
}

