.kmodal{}

.kmodal.open .modal-window,
.kmodal.open .modal-overlay{
    opacity: 1;
    z-index: 1;
}

.kmodal.hide .modal-window,
.kmodal.hide .modal-overlay{
    opacity: 1;
    z-index: 1;
}

.kmodal.open .modal-window{
    transform: translateY(50px);
}
.kmodal.open .modal-overlay{
    background: rgba(0, 0, 0, 0.5);
}

.kmodal.hide .modal-window{
    transform: translateY(-200px);
}
.kmodal.hide .modal-overlay{
    background: rgba(0, 0, 0, 0);
}


.modal-window, .modal-overlay{
    opacity: 0;
    z-index: -1;
}

.modal-overlay{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition:background .2s ease-in;
}

.modal-window{
    background: white;
    width:400px;
    margin: 0 auto;
    border-radius: 5px;
    transform: translateY(-200px);
    transition: transform .2s ease-in;
}

.modal-header{
    padding: 5px 10px;
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid rgba(0, 0, 0, 0.04);
}

.modal-title{
    font-size:1.3rem;
}

.modal-close{
    cursor:pointer;
}

.modal-body{
    padding:30px;
}

.modal-body p{
    margin: 0 0 5px;
}

.modal-body input{
    width:100%;
    margin:10px 0;

}

.modal-footer{
    padding:10px ;
    border-top:1px solid rgba(0, 0, 0, 0.04);
}



@media screen and (max-width: 450px){
    .modal-window{
        width:300px;
    }
}