html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4 {
    margin: 0;

    font-weight: bold;
}

body {
    cursor: default;
    /*margin: 0;*/
    font-family: "Roboto", sans-serif;
}

a {
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 20px auto;
    font-size: 40px;
}
h2 {
    text-align: center;
    margin: 15px auto;
    font-size: 25px;
}

.main {
    margin-bottom: 100px;
}

.main-wrapper {
    display:flex;
    max-width: 1200px;
    margin: 0 auto;
    /*border-radius: 5px;*/
    /*border: 2px solid black;*/
}


.category_items {
    flex-basis: 30%;
    padding-bottom: 20px;
}

.category_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    background-color: aliceblue;
    margin-bottom: 30px;
}

.category_item_img-wrapper {
    display:flex;
}

.category_item_img {
    margin-right: 10px;
}

.category_add_item {
    width: 80%;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: aliceblue;
    text-align: center;
}

.goods_items {
    flex: 1 1 0;
    padding: 30px 0;
}

.goods_items-wrapper {
    width:90%;
    margin: 0 auto;
    background-color: azure;
    padding: 0 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
}

.goods_item {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
}

.goods_item-wrapper {
    flex-basis:33%;
    padding-right: 20px;
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.goods_item-title {
    text-align: center;
    margin-bottom: 10px;
}

.goods_item_content {
    text-align: center;
}
.goods_item_content-price {
    margin-bottom: 4px;
}

.goods_item_content-quantity {
    margin-bottom: 4px;
}

.goods_item-func-wrapper {
    margin-top: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}


.goods_item-func {
    max-width:50%;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 4px;
    text-decoration: underline;
}
.goods_item-func-2 {
    max-width:50%;
    text-align: right;
    margin-right: 20px;
    text-decoration: underline;
}

.goods_title-wrapper {
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
}

.goods_title {
    /*text-align: center;*/
    /*margin: 20px auto;*/
    font-size: 25px;
    font-weight: bold;
}

.goods_add_item {
    padding: 10px;
    border-radius: 5px ;
    border: 2px solid black;
}


goods_items-search {
    display:flex;

}

