<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles/modal.css">
    <title>Good</title>
</head>
<body>
<section class="good">
    <h1 class="good_title">Goods</h1>
    <div class="good_items"></div>

</section>

</body>

<!--<script src="./plugin/base.js"></script>-->
<!--<script src="./plugin/modal.js"></script>-->
<!--<script src="./js/good.js"></script>-->
</html>